// || Variables
$accent-color: #e84d3f;
$text-highlight: #ba5461;
$text-color: #686868;
$font-stack: sans-serif;
$border-color: lightgray;

// || Reset 
html{
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// || General
body{
  height: 100%;
  font-family: $font-stack;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// || Card
.card{
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  min-height: 512px;
  width: 80%;
  border: 1px solid $border-color;
}

.card__header{
  background-image: url("../images/india.jpg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 130%;
  /*padding-top: 200px;*/
  position: relative;
  transition: opacity 500ms ease-in, background-size 500ms ease-in;
  flex-grow: 1;

  .card__img{
    width: 100%;
    object-fit: contain;
  }
}
.card__body{
  padding: 36px;

  .card__title{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0.3em;
  }

  .card__subtitle{
    font-weight: 400;
    color: $text-highlight;
    margin-bottom: 1em;
  }

  .card__text {
    color: $text-color;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 350ms ease-in;
  }
}

.card__footer{
  display: flex;
  gap: 1em;
  color: $text-color;
  padding: 0 36px 36px;
}

.tag{
  background-color: $accent-color;
  color: #fff;
  padding: 0.5em 1em;
}

.tag--circle{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  
  .tag__text{
    text-align: center;
  }
}

.tag--top{
  position: absolute;
  top: 30px;
  right: 20px;
}
.tag--bottom{
  position: absolute;
  bottom: -6px;
}

// || Card animation
.card:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  .card__text{
    max-height: 200px;
  }

  .card__header{
    opacity: 0.6;
    background-size: 140%;
  }
}
